<link rel="stylesheet" href="/static/style_create_account.css" type="text/css">

<form action="/new_account" method="GET">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
            <h1>Mail de confirmation envoyé ! </h1>
                <h2>Toujours pas reçu ?</h2>
            </div>
                <a href={{ url_for('new_account') }}><input type="submit" value="Renvoyer mail" class="btn btn-primary btn-large btn-block"></a>
            <!-- TODO: je suis pas un expert en CSS, donc ça reste pas très beau -->
            </div>
            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for m in messages %}
                            {{ m }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</form>