body {
  padding-top: 120px;
}

h2{
	font-size: 200%; 
	font-family: Arial;
	padding: 10px;
}
.col-md-6{
  background-color: white;
  border: 1px solid black;
  border-radius: 0px;
  line-height: 40px;
  text-align: right;
}

.col-lg-4{
  border: 0px;
  border-radius: 0px;
  line-height: 40px;
  text-align: left;
}